{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="small-12 columns">
    {% with messages = get_flashed_messages(category_filter=['success']) %}
      {% if messages %}
        <div class="flash success">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    <h2>{{ startup.name }}</h2>
    <h5><a href="{{ url_for('show_city', city_slug=startup.city.slug) }}">{{ startup.city.name }}</a></h5>
    <div class="description"><h4>Description</h4>
      {{ startup.description }}
    </div>
    <div class="links"><h4>Links</h4>
      <div class="startup-link"><a href="{{ startup.link }}">{{ startup.link }}</a></div>
      <div class="startup-careers-link"><a href="{{ startup.careers_link }}">{{ startup.careers_link }}</a></div>
    </div>
    {% if startup.user_id == current_user_id %}
      <form method="POST" action="{{ url_for('delete_startup', city_slug=startup.city.slug, startup_slug=startup.slug) }}">
        <a class="button" href="{{ url_for('edit_startup', city_slug=startup.city.slug, startup_slug=startup.slug) }}">Edit</a>
        <input type="submit" class="button" value="Delete" onclick="return confirm('Are you sure?')">
      </form>
    {% endif %}
    <div class="last-updated">Last updated {{ startup.last_updated|datetimeformat }} by {{ startup.user.username }}</div>
  </div>
</div>
{% endblock %}
