{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="small-12 columns">
    {% with messages = get_flashed_messages(category_filter=['success']) %}
      {% if messages %}
        <div class="flash success">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <h2>Cities</h2>
    <ul>
      {% for city in cities %}
        <li><a href="{{ url_for('show_city', city_slug=city.slug) }}">{{ city.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="medium-8 columns">
    <h2>Startup Companies in {{ current_city.name }}</h2>
    <ul>
      {% for startup in startups %}
        <li><a href="{{ url_for('show_startup', city_slug=current_city.slug, startup_slug=startup.slug) }}">{{ startup.name }}</a></li>
      {% endfor %}
    </ul>
    <h3><a href="{{ url_for('new_startup', city_slug=current_city.slug) }}">Add a new startup!</a></h3>
  </div>
</div>
{% endblock %}
