{% extends "base.html" %}
{% block content %}
  <h2>New Post</h2>
  <form method="post">
    <div class="row">
      <div class="medium-3 columns small-12">
        <label for="subject">Subject</label>
      </div>
      <div class="medium-5 columns small-12 end">
        <input type="text" name="subject" value="{{ subject }}">
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns small-12">
        <label for="content">Content</label>
      </div>
      <div class="medium-5 columns small-12 end">
        <textarea name="content" id="textarea-post">{{ content }}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="medium-5 small-12 medium-offset-3 columns end text-right">
        <input type="submit" value="Submit" class="button">
      </div>
    </div>
    {% if errors %}
      <div class="errors">
        <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </form>
{% endblock %}
