/********/
/* Tags */
/********/

a {
  color: #4682b4;
}

body {
  color: #222;
  background-color: whitesmoke;
}

/**********/
/* Header */
/**********/

header {
  background-color: #dcdcdc;
  margin-bottom: 2em;
}

.login-logout {
  text-align: right;
}

.website-title {
  text-align: left;
}

/*********/
/* Posts */
/*********/

article {
  background-color: white;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 20px;
}

#textarea-post {
  height: 400px;
}

.author {
  color: #888;
}

.button-dislike {
  background-color: #f08080;
}

.button-like {
  background-color: #87cefa;
}

.content {
  margin-bottom: 2em;
  clear: both;
}

.created {
  color: #888;
  margin-bottom: 2em;
}

.dislikes {
  color: #f08080;
}

.errors {
  color: #ff6347;
}

.likes {
  color: #87cefa;
}

.subject {
  text-align: center;
  font-weight: 600;
  display: block;
}

/************/
/* Comments */
/************/

#textarea-comment {
  height: 100px;
  width: 50%;
}

/*********/
/* Forms */
/*********/

.button-muted {
  background-color: grey;
}

.edit-delete {
  display: inline-block;
  margin-left: 2em;
}

/*****************/
/* Media Queries */
/*****************/

@media only screen and (max-width: 40em) {
  #textarea-comment {
    width: 100%;
  }
}
